@charset "UTF-8";
/*Обнулення*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

input::-ms-clear {
  display: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body{
  padding: 50px;
}
.wrapper {
}
.content {
}
.content__circle-green {
  width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 50%;
  position: relative;
  left: 0;

  animation-name: green-circle;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.68,-0.55,0.265,1.55);
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction:alternate;
  animation-fill-mode: forwards;

  /* animation: black-circle 3s cubic-bezier(0.68,-0.55,0.265,1.55) 0s 3 alternate forwards; */

}
/* @keyframes black-circle{
  0%{
    left: 0;
  }
  100%{
    left: 500px;
  }
} */
@keyframes green-circle{
  0%{
    top: 0;
  }
  100%{
    top: 300px;
  }
}